In [3]:
import requests
from bs4 import BeautifulSoup
import time

In [14]:
import sqlite3

conn = sqlite3.connect('data/bdd.db')
cur = conn.cursor()

########################
# Table equipages
# ðŸš¨ðŸš¨ Attention en sqlite 
# on n'utilise pas 'SERIAL' mais 'AUTOINCREMENT NOT NULL'
########################


cur.execute('''
    CREATE TABLE IF NOT EXISTS equipage (
        id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        nom TEXT,
        n_membres INTEGER
    )
''')
conn.commit()



########################
# Table personnages
########################
cur.execute('''
    CREATE TABLE IF NOT EXISTS personnage (
        id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        nom TEXT,
        equipage_id INTEGER,
        FOREIGN KEY (equipage_id) REFERENCES equipage(id)

    )
''')
conn.commit()

In [15]:
########################
# RequÃªte initiale + parsing
########################

url = "http://www.volonte-d.com/perso/pirates.php"

r = requests.get(url)
soup = BeautifulSoup(r.text, "html.parser")  
table = soup.find("div", class_="blockCache3").find_all('table')[1]
tables = table.find_all("table")

#######################################
# On itÃ¨re sur les tables par Ã©quipage
######################################

for table in tables:
    ######################################
    # Extraction nom de l'Ã©quipage et url relative
    ######################################
    trs = table.find_all("tr")
    href = trs[0].find('a').get("href")
    equipage_nom = trs[1].text
    print(equipage_nom, href)
    
    ######################################
    # On bÃ¢tit l'url de chaque Ã©quipage
    ######################################
    url_equipage = f"http://www.volonte-d.com/perso/{href}"
    
    
    ######################################
    # RequÃªte Ã©quipage
    ######################################
    r_equipage = requests.get(url_equipage)
    soup_equipage = BeautifulSoup(r_equipage.text, "html.parser")  
    
    equipage = [
        p.text 
        for p in soup_equipage.find_all("td", class_="trsbas0")
    ]
    
    ######################################
    # On insÃ¨re l'Ã©quipage
    ######################################
    cur.execute("INSERT INTO equipage (nom, n_membres) VALUES (?, ?)", (equipage_nom, len(equipage)))
    conn.commit()
    
    # ðŸš¨ðŸš¨ on rÃ©cupÃ¨re l'id de l'Ã©quipage 
    # pour l'insertion de la FOREIGN KEY equipage_id Ã  venir
    equipage_id = cur.lastrowid
    
    ######################################
    # On insÃ¨re les personnages
    ######################################
    for perso_nom in equipage:
        cur.execute("INSERT INTO personnage (nom, equipage_id) VALUES (?, ?)", (perso_nom, equipage_id))
        conn.commit()

Chapeau de Paille paille.php
Firetank Pirates firetankpirate.php
Bonney Pirates bonneypirate.php
Hawkins Pirates hawkinspirate.php
Kid Pirates kidpirate.php
On-Air Pirates onairpirate.php
Drake Pirates drakepirate.php
Depraved Monk Pirates depravedmonkpirate.php
Heart Pirates heartpirate.php

# VÃ©rification

In [23]:
import pandas as pd

equipage = pd.read_sql("SELECT * from equipage", con=conn)
personnage = pd.read_sql("SELECT * from personnage", con=conn)

equipage.set_index("id").join(personnage.set_index("equipage_id"), rsuffix="equipage")

                     nom  n_membres  id            nomequipage
1      Chapeau de Paille         11   1         Monkey D Luffy
1      Chapeau de Paille         11   2           Roronoa Zoro
1      Chapeau de Paille         11   3                   Nami
1      Chapeau de Paille         11   4                  Usopp
1      Chapeau de Paille         11   5                  Sanji
1      Chapeau de Paille         11   6      Tony Tony Chopper
1      Chapeau de Paille         11   7             Nico Robin
1      Chapeau de Paille         11   8                 Franky
1      Chapeau de Paille         11   9                  Brook
1      Chapeau de Paille         11  10                  Jinbe
1      Chapeau de Paille         11  11  \n>> Cliquer ici <<\n
2       Firetank Pirates          5  12            Capone Bege
2       Firetank Pirates          5  13                   Vito
2       Firetank Pirates          5  14                  Gotti
2       Firetank Pirates          5  15      Charlotte Chiffon
2       Firetank Pirates          5  16             Capone Pez
3         Bonney Pirates          1  17         Jewelry Bonney
4        Hawkins Pirates          2  18          Basil Hawkins
4        Hawkins Pirates          2  19                  Faust
5            Kid Pirates          4  20            Eustass Kid
5            Kid Pirates          4  21                 Killer
5            Kid Pirates          4  22                   Heat
5            Kid Pirates          4  23                   Wire
6         On-Air Pirates          1  24        Scratchmen Apoo
7          Drake Pirates          1  25                X Drake
8  Depraved Monk Pirates          1  26                 Urouge
9          Heart Pirates          8  27          Trafalgar Law
9          Heart Pirates          8  28                   Bepo
9          Heart Pirates          8  29                 Shachi
9          Heart Pirates          8  30                Penguin
9          Heart Pirates          8  31              Jean Bart
9          Heart Pirates          8  32                 Clione
9          Heart Pirates          8  33                    Uni
9          Heart Pirates          8  34                 Ikkaku