# Utilisation de SQLite avec Python

## Connexion à la base de données

Pour utiliser SQLite avec Python, commencez par établir une connexion à la base de données.

```python
import sqlite3

# Connexion à la base de données (si elle n'existe pas, elle sera créée)
conn = sqlite3.connect('ma_base_de_donnees.db')
```

## Création d'une table

Définissons une table simple pour stocker des données.

```python
# Création d'un curseur pour exécuter des commandes SQL
cur = conn.cursor()

# Définition du schéma de la table
cur.execute('''
    CREATE TABLE IF NOT EXISTS utilisateurs (
        id INTEGER PRIMARY KEY,
        nom TEXT,
        age INTEGER
    )
''')

# Validation des modifications
conn.commit()
```

## Opérations CRUD (Create, Read, Update, Delete)

### Insertion de données

Ajoutons un nouvel utilisateur à la table.

```python
cur.execute("INSERT INTO utilisateurs (nom, age) VALUES (?, ?)", ('Alice', 25))
conn.commit()
```

### Lecture des données

Récupérons toutes les données de la table.

```python
cur.execute("SELECT * FROM utilisateurs")
resultats = cur.fetchall()

for row in resultats:
    print(row)
```

### Mise à jour de données

Mettons à jour l'âge de l'utilisateur Alice.

```python
cur.execute("UPDATE utilisateurs SET age=? WHERE nom=?", (26, 'Alice'))
conn.commit()
```

### Suppression de données

Supprimons l'utilisateur Alice de la table.

```python
cur.execute("DELETE FROM utilisateurs WHERE nom=?", ('Alice',))
conn.commit()
```

## Fermeture de la connexion

N'oubliez pas de fermer la connexion une fois les opérations terminées.

```python
conn.close()
```